<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mide.gangsaeng.board.BoardMybatisMapper">
  <insert id="write" parameterType="com.mide.gangsaeng.board.Board" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO boards (title, content, user_id) values (#{title}, #{content}, #{userId});
  </insert>

  <select id="read" parameterType="Long" resultType="com.mide.gangsaeng.board.Board">
    SELECT *
    FROM boards
    WHERE id = #{id};
  </select>

  <select id="getPage" parameterType="HashMap" resultType="com.mide.gangsaeng.board.Board">
    SELECT *
    FROM boards
    ORDER BY id DESC LIMIT #{size} OFFSET #{offset};
  </select>

  <select id="getPrevPage" parameterType="HashMap" resultType="com.mide.gangsaeng.board.Board">
    SELECT *
    FROM boards
    <![CDATA[
    WHERE id > #{id}
    ]]>
    ORDER BY id LIMIT #{size};
  </select>

  <select id="getNextPage" parameterType="HashMap" resultType="com.mide.gangsaeng.board.Board">
    SELECT *
    FROM boards
    <![CDATA[
    WHERE id < #{id}
    ]]>
    ORDER BY id DESC LIMIT #{size};
  </select>

</mapper>
